{{ define "main" }}


{{/*  <h2>Keynote Speakers</h2>  */}}
<h2 id=keynotes>{{T "keynotes" }}</h2>

{{range .Params.speakers }}
<div class=keynote-container>
    <img src={{ .portrait }} class=keynote-portrait>
    <div class=keynote-text-container>
    <h3>
      <span class=keynote-name><a href={{.url}}>{{ .name }}</a></span>
    <br>
    <span class=keynote-affiliation>{{ .affiliation}}</span>
    </h3>
    <p>
    {{ if (not (isset . "title")) | or (eq .title "") }}
    ({{T "stay_tuned_for_talk_information"}})
    {{"<!--  Posticon. Otherwise show defined icon //-->" | safeHTML}}
    {{ else }}
    <h3><span class=keynote-title>{{.title}}</span></h3>
    <p>
      {{ .abstract }}
    </p>
    {{ end }}
    </p>
    {{ if (isset . "youtube") }}
      <iframe class=keynote-embedded-video src={{.youtube}} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    {{end}}
    <p class=keynote-bio>
    {{ if (not (isset . "bio")) | or (eq .bio "") }}
    <!-- just keep it empty -->
    {{"<!--  Posticon. Otherwise show defined icon //-->" | safeHTML}}
    {{ else }}
    {{.bio}}
    {{ end }}
    </p>
    </div>
</div>
{{ end }}



<!-- <h2 id=important_dates>{{T "important_dates" }}</h2>

<table class=fixed-table>
  {{ range .Site.Params.importantDates }}
  <tr>
    <td class=important-date-name>
      {{T .id }}
    </td>
    <td class=important-date-date>
      {{ .date }}
    </td>
  </tr>
  {{ end }}
</table> -->


<h2>{{T "sponsors" }}</h2>
 <!--
<table class=fixed-table>
{{range .Site.Params.sponsors }}
<tr>
  {{ $scn := .id }}
<td class=sponsor-category>{{ .name}}</td>
<td>
  <ul id={{.id}}-sponsor-list>
{{range .items}}
    <li>
      {{ if ((isset . "logo")) | and (not (eq .logo "")) }}
      <img class="logo_{{ $scn }}" src="{{ .logo }}" alt="{{ .name }}" title="{{ .name }}" />
        {{ if ((isset . "logoDisclaimer")) | and (not (eq .logoDisclaimer "")) }}
        <div class=logoDisclaimer>{{ .logoDisclaimer }}</div>
        {{end}}
      {{ end}}
    </li>
{{end}}
{{range .items}}
    <li>
      {{ if (not (isset . "logo")) | or (eq .logo "") }}
      {{ .name }}
      {{ end}}
    </li>
{{end}}
  </ul>
</td>
</tr>
{{end}}
</table>
-->

{{/*  <h2> {{T "poster" }}</h2>  */}}
 <!--
<div class=poster-container>
    <a  href="/images/sgp.jpg"><img src=/images/sgp-small.jpg
    class=poster></a>
</div>
-->



 
<h4>
<p class=single-line>
<a href="mailto:{{ .Site.Params.sponsorContact}}">{{T "contact_us" }}</a> 
{{.Site.Params.sponsorPlea }}
</p>
</h4>


{{ end }}
