{{ define "main" }}

{{/*  ---
Program Chairs
---  */}}

<h2 id=programm_chairs>{{T "programm_chairs" }}</h2>
<table class=chairs-table>
  {{range .Site.Params.chairs}}
  <tr>
  <td class=chairs-name>
    {{T .id }}
  </td>
  <td class=chairs-items>
    <ul>
    {{range .items}}
    <li>
      <span class=line><a href="mailto:{{.email}}">{{ .name }}</a></span>
      <span class=line><em>({{ .affiliation }})</em></span>
    </li>
    {{end}}
    </ul>
  </td>
  </tr>
  {{end}}
</table>


{{/*  ---
International Programme Committee
---  */}}

<h2 id=ipc>{{"International Programme Committee" }}</h2>

<table class=chairs-table>
  {{range .Site.Params.ipc}}
  <tr>
    
  <td class=chairs-name>
    {{T .id }}
  </td>

  <td class=chairs-items>
    <ul>
    {{range .items}}
    <li>
      <span class=line>{{ .name }}{{ if .affiliation }} {{ end }}</span>
      {{- if .affiliation }}<span class=line><em>({{ .affiliation }})</em></span>{{ end }}
    </li>
    {{end}}
    </ul>
  </td>

  </tr>

  {{end}}
</table>


{{/*  ---
Local Organization
---  */}}



<h2 id=organizational_team>{{T "organizational_team" }}</h2>
<div id=simple-static></div>
{{ .Content }}

<table class=chairs-table>
  {{range .Site.Params.local_organization}}
  <tr>
  <td class=chairs-name>
    {{T .id }}
  </td>
  <td class=chairs-items>
    <ul>
    {{range .items}}
    <li>
      <span class=line><a href="mailto:{{.email}}">{{ .name }}</a></span>
      <span class=line><em>({{ .affiliation }})</em></span>
    </li>
    {{end}}
    </ul>
  </td>
  </tr>
  {{end}}
</table>




{{/*  {{ $flags := .Site.Params.flagEmojis }}
{{ range .Site.Params.committees }}
<h2> {{T .id }} </h2>

  {{ if (not (isset . "members")) | or (eq .members "") }}
  <p>(stay tuned for full list of members)</p>
  {{"<!--  Posticon. Otherwise show defined icon //-->" | safeHTML}}
  {{ else }}
    <ul class=committee-list>
      {{range .members}}
      <li>
        <table><tr><td>
        {{ if ((isset . "country")) | or (not (eq .country "")) }}
          {{ if (index $flags .country) }}
            {{ index $flags .country }}&nbsp;
          {{ end }}
        {{ end }}
            </td><td>
        <span class="">{{ .name }}</span>{{ if ((isset . "affiliation")) | or (not (eq .affiliation "")) }}, <span class="">{{ .affiliation }}</span>{{ end }}
            </td></tr></table>
      </li>
    {{ end }}
    </ul>
    {{ end }}
{{ end }}   */}}

{{ end }}
